.table-main-holder {
    /* padding-top: 50px; */
    color: var(--text-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: smaller;
}

.table-r-h {
    box-shadow: 0 4px 6px -1px var(--box-shadow-color), 0 2px 4px -2px var(--box-shadow-color);
    max-width: 1200px;
    width: 100%;
    min-height: 498px;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-height: 498px;
}

table thead {
    background-color: var(--th-color);
}

table th,
table td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #8f8d8d;
}

table th {
    font-weight: bold;
}

table tbody tr:hover {
    background-color: var(--background-hover-color);
}

.btn-holder {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.action-btn {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.action-btn.delete {
    background-color: #dc3545;
}

.error-message {
    text-align: center;
    margin-top: 20px;
}

.retry-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
}

.lg-t {
    display: none;
}

.no-result {
    font-size: x-large;
}

@media screen and (min-width: 600px) {
    .table-r-h, table{
        min-height: 454px;
    }
    .lg-t {
        display: block;
    }
}