.error-holder {
    position: fixed;
    top: 0;
    min-width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.clear-error-btn {
    border: none;
    background-color: var(--btn-main-color);
    cursor: pointer;
    font-size: small;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    text-align: center;
}

.error-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    text-align: center;
    font-size: large;
}
